[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/heads/*"]
	abandon = group wayne dev
	create = group wayne dev
	editAssignee = group wayne dev
	editTopicName = group wayne dev
	forgeAuthor = group wayne dev
	forgeCommitter = group wayne dev
	forgeServerAsCommitter = group wayne dev
	label-Code-Review = -2..+2 group wayne dev
	label-Verified = -1..+1 group wayne dev
	push = +force group wayne dev
	pushMerge = group wayne dev
	rebase = group wayne dev
	removeReviewer = group wayne dev
	submit = group wayne dev
	deleteOwnChanges = group wayne dev
